[submodule ".registry"]
	path = .registry
	url = https://github.com/crp2a/crp2a.r-universe.dev
	branch = HEAD
[submodule "Al2O3AnalysisApp"]
	path = Al2O3AnalysisApp
	url = https://gitlab.huma-num.fr/archeosciences/Al2O3_AnalysisApp
[submodule "BayLum"]
	path = BayLum
	url = https://github.com/crp2a/BayLum
	branch = v0.3.3
[submodule "gamma"]
	path = gamma
	url = https://github.com/crp2a/gamma
	branch = v1.1.0
[submodule "gammaShiny"]
	path = gammaShiny
	url = https://gitlab.huma-num.fr/archeosciences/gammaShiny
	branch = v0.2.0
